<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
    <meta name="description" content="问购网提供最新最全的全国商场打折信息,包括上海商场、北京商场、广州商场的权威打折信息">

    <title>商场】商场大全_商场打折_商场中心网_问购网</title>

    <!-- Bootstrap core CSS -->
  {% load staticfiles %}
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
  {% load staticfiles %}
  <link href="{% static "css/offcanvas.css" %}"rel="stylesheet">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">问购网</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">首页</a></li>
            <li><a href="/">奢侈品</a></li>
            <li class="active"><a href="/">商场</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

  </head>

  <body>



    <div class="container">
      <div class="crumbs">当前位置：<ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">商场</li>
      </ol>
      </div>


      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">边侧栏</button>
          </p>
          <div class="jumbotron">
            <h3>城市:</h3>
            <p>!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
          </div>
          <div class="row show-grid">
            <div class="col-8 col-sm-12 col-lg-12">
              <table class="table table-striped" style="word-break:break-all">

              {% for shoppingmall in shoppingmall %}
                <tr>
                  <td rowspan="4" width="90" class="col-xs-3">
                    <a href="/malldetail/{{shoppingmall.id}}">
                    <img src="http://www.ask-mall.com/images/wu.gif" class="img-responsive">
                    </a>
                  </td>
                  <td colspan="2">
                    <a href="/malldetail/{{shoppingmall.id}}">
                    <h4>{{shoppingmall.name}}</h4>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="col-xs-3">城市:{{shoppingmall.city}}</td>
                  <td class="col-xs-6">电话:{{shoppingmall.phone}}</td>
                </tr>
                <tr>
                  <td colspan="3" class="hidden-xs">地址:{{shoppingmall.address}}</td>
                </tr>
                <tr>
                  <td colspan="3">评价:{{shoppingmall.review}}</td>
         <!--         <td>坐标:{{shoppingmall.longitude}},{{shoppingmall.latitude}}</td> -->
                </tr>
                {% endfor %}
              </table>

            </div><!--/span-->
            
          </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <ul class="pagination">
        <li><a href="/mall/1/">&laquo;</a></li>
        <script type="text/javascript">
        var page = window.location.pathname.split("/");
        var num = Number(page[2])

        //document.write(page);

        for (var i = num - 3; i <= num + 3;i++)
        {
          if (i <= 0)
            continue;
          if (i == num)
          {
            document.write("\<li class=\"active\"\>\<a href=\"\/mall\/"  + i + "\/\"\>" + i + "\<\/a\>\<\/li\>");
          }
          else
          {
            document.write("\<li\>\<a href=\"\/mall\/"  + i + "\/\"\>" + i + "\<\/a\>\<\/li\>");
          }
        }
        </script>
        <li><a href="#">&raquo;</a></li>
      </ul>
        
      <hr>

      <footer>
        <p>&copy; 没什么</p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>

    {% load staticfiles %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% load staticfiles %}
    <script src="{% static "js/offcanvas.js" %}"></script>
  </body>
</html>
