<div class="col-xs-3 col-sm-3 sidebar-offcanvas " id="sidebar" role="navigation">
    <div class="well sidebar-nav">
        <h5>最新奢侈品</h5>
        <ul class="nav">
            <div class="col-xs-12 col-sm-12 col-md-6 center-block">
                <a href="http://www.ask-mall.com/shechi/253.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/1zdcd2152uu_01.jpg" data-src="holder.js/100%x90"  alt="高仕" />高仕</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 center-block">
                <a href="http://www.ask-mall.com/shechi/56.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/2013_pdwqtdl3ear.jpg" data-src="holder.js/100%x90" alt="肖邦伏..." />肖邦伏</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <a href="http://www.ask-mall.com/shechi/408.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/gwqgldf1sdw_01.jpg" alt="维达尔" />维达尔</a>
            </div>
            <div class="visible-md visible-lg  col-md-6">
                <a href="http://www.ask-mall.com/shechi/501.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/oi1ustyfjo5-2013.jpg" alt="宝爵" />宝爵</a>
            </div>
            <div class="visible-md visible-lg col-md-6">
                <a href="http://www.ask-mall.com/shechi/338.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/i020akue2br_01.jpg" alt="兰姿" />兰姿</a>
            </div>
            <div class="visible-md visible-lg col-md-6">
                <a href="http://www.ask-mall.com/shechi/590.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/ufuyqn2ecjm-2013.jpg" alt="菲尔兰" />菲尔兰</a>
            </div>
            <div class="visible-md visible-lg col-md-6">
                <a href="http://www.ask-mall.com/shechi/649.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/0juk3yahtsu-2013.jpg" alt="左威尔..." />左威尔...</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <a href="http://www.ask-mall.com/shechi/651.html" class="thumbnail"><img src="http://www.ask-mall.com/imgluxury/gozfqltzpys-2013.jpg" alt="荣汉斯" />荣汉斯</a>
            </div>
        </ul>
    </div><!--/.well -->


    <div class="well sidebar-nav">
        <h5>奢侈品排行</h5> 
        <ol>   
            <li><a href="http://www.ask-mall.com/shechi/21.html">比奇</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/80.html">芝柏</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/148.html">人头马</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/274.html">芬迪</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/416.html">新秀丽</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/422.html">鹿跃酒窖</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/434.html">天梭</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/447.html">维多利亚的秘密</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/579.html">玉宝</a></li>
            
            <li><a href="http://www.ask-mall.com/shechi/729.html">保时捷设计</a></li>
        </ol>
    </div><!--/.well -->


    <div class="well sidebar-nav">
       <ul class="nav">
        <li>精选奢侈品</li>
        <li>
            <a href="http://www.ask-mall.com/shechi/88.html"><img src="http://www.ask-mall.com/imgluxury/2013_2n03guj2nqc.jpg" alt="哈雷" style="float: left;width: 80px;height: 80px;"/></a>
            <dl style="overflow: hidden;" class="visible-md visible-lg">
            <dt><a href="http://www.ask-mall.com/shechi/88.html">哈雷</a></dt>
            <dd>最初的哈雷，是在1903年由21岁的威廉.哈雷和...</dd>
            </dl>
        </li>
        <li>
            <a href="http://www.ask-mall.com/shechi/156.html"><img src="http://www.ask-mall.com/imgluxury/2013_gw3zuvjipls.jpg" alt="希思黎" style="float: left;width: 80px;height: 80px;"/></a>
            <dl style="overflow: hidden;" class="visible-md visible-lg">
                <dt><a href="http://www.ask-mall.com/shechi/156.html">希思黎</a></dt>
                <dd>Sisley（希思黎）1976年诞生于法国，由法...</dd>
            </dl>
        </li>
        <li>
            <a href="http://www.ask-mall.com/shechi/159.html"><img src="http://www.ask-mall.com/imgluxury/2013_wvwkrz5qub3.jpg" alt="" style="float: left;width: 80px;height: 80px;"/></a>
            <dl style="overflow: hidden;" class="visible-md visible-lg">
                <dt><a href="http://www.ask-mall.com/shechi/159.html"></a></dt>
                <dd> StefanoBi于1991年在意大利创办。该公...</dd>
            </dl>
        </li>
        <li>
            <a href="http://www.ask-mall.com/shechi/361.html"><img src="http://www.ask-mall.com/imgluxury/4cvdxiun3m2_01.jpg" alt="艾美" alt="" style="float: left;width: 80px;height: 80px;"/></a>
            <dl style="overflow: hidden;" class="visible-md visible-lg">
                <dt><a href="http://www.ask-mall.com/shechi/361.html">艾美</a></dt>
                <dd>1975年，第一枚以 “Maurice Lacroix”命名的艾美表于奥地利面世...</dd>
            </dl>
        </li>
        <li>
            <a href="http://www.ask-mall.com/shechi/558.html"><img src="http://www.ask-mall.com/imgluxury/rsavxdmnn1h-2013.jpg" alt="昆仑" style="float: left;width: 80px;height: 80px;"/></a>
            <dl style="overflow: hidden;" class="visible-md visible-lg">
                <dt><a href="http://www.ask-mall.com/shechi/558.html">昆仑</a></dt>
                <dd>速写昆仑50年1955年，在瑞士的拉绍德封La Chaux-de-Fonds，...</dd>
            </dl>

        </li>
      </ul>
    </div><!--/.well -->
    <div class="well sidebar-nav">
        <ol>
        {% for topTen in topTen %}
           <li>{{topTen.name}}</li>
        {% endfor %}
        </ol>
    </div><!--/.well -->
</div><!--/span-->